</br>
</br>

<h1>
<p>Our mission is to speed up the hiring process i.e. removing gap between the referrer and referee. Ask4referral works on the professional networking principle. </p>
<p>Ask4referral will provide the key solution, which we surely help you to grep a job immediate.</p>
<p>The survey data says that more than 60% jobs provided through internal referrals. Companies are spending more on referral schemes to save their time and money.</p>
<p>We will take care of fastest processing of your resume and avoid them to be in black holes.</P>
</h1>

<h1>How we works:</h1>
<p><h2> If you are Referee –</h2> <h3>Search job openings on our portal. Ask for referral for job in which matching to your skills. We will search a referrer on behalf of you. </h3></p>

<p><h2> If you are Job Referrer -</h2> <h3>Send us or post yourself open position along with Job Description, we will post on our portal and we will send you the matching available resumes. </h3></p>

<h2>Ask4referral is free and will be free for both referrer and referee.</h2>