

</br>
</br>
<div class="col-fullwidth">
<div class="whitebox padd-20 clearfix">
<div class="col-left">

<h2>
<p>Ask4Referral is to speed up the hiring process,we works on the professional networking principle. </p>
<p>We guarantee instant job offer beacuse.....</p>
<p>The survey data says that more than 60% jobs provided through internal referrals.</p>
<p>We will take care of fastest processing of your resume and avoid them to be in black holes.</P>
</h2>
<br>
<h1>How we works:</h1>
<p><h2> If you are looking for Job --</h2> 
<h1>Search job referrals on our portal. Request referral to interested jobs. We will search a referrer on behalf of you. </h1></p>

<p><h2> If you are Employer or Referrer --</h2>
<h1>Send us the job detail on admin@ask4referral.com or post yourself here, We will post on our portal and give you the matching profiles. </h1></p>


<marquee ONMOUSEOVER="this.stop();"
            ONMOUSEOUT="this.start();"><font color="red">Ask4referral is free and will be free for both referrer and referee......... ,Please send your suggestions/feedbacks on feedback@ask4refferal.com  </font></marquee>                        
</div>
</div>
<div class="col-right ">
<!--					<strong>Ads</strong> -->
</div>
</div>
</br>
